ProgramAssignment4/WebCrawler/Connected Services/ASManager/AzureStorageManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddUrlToQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUrlToQueueResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddLogToQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="log" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLogToQueueResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveMessageFromQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveMessageFromQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMessageFromQueueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountMessagesInQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountMessagesInQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountMessagesInQueueResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHTMLDataEntityToTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pubDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="blobFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHTMLDataEntityToTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEntityCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PropertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntityCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEntityCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncrementPopularityCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncrementPopularityCountResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMachineCountersValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="values" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateMachineCountersValueResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCurrentlyCrawledUrlValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="threadName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCurrentlyCrawledUrlValueResponse">
        <s:complexType />
      </s:element>
      <s:element name="IncrementNumberOfCrawledUrls">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncrementNumberOfCrawledUrlsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateThreadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateThreadStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateBlobFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blobFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBlobFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAllMessagesFromQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllMessagesFromQueueResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResetAllNumberOfUrls">
        <s:complexType />
      </s:element>
      <s:element name="ResetAllNumberOfUrlsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBlobContainer">
        <s:complexType />
      </s:element>
      <s:element name="DeleteBlobContainerResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecreateBlobContainer">
        <s:complexType />
      </s:element>
      <s:element name="RecreateBlobContainerResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteTable">
        <s:complexType />
      </s:element>
      <s:element name="DeleteTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddControlCommandToQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="command" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddControlCommandToQueueResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveMachineCounters">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveMachineCountersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMachineCountersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountUrlInQueues">
        <s:complexType />
      </s:element>
      <s:element name="CountUrlInQueuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountUrlInQueuesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountCrawledUrls">
        <s:complexType />
      </s:element>
      <s:element name="CountCrawledUrlsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountCrawledUrlsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountEntitiesInHTMLDataTable">
        <s:complexType />
      </s:element>
      <s:element name="CountEntitiesInHTMLDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountEntitiesInHTMLDataTableResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThreadName">
        <s:complexType />
      </s:element>
      <s:element name="GetThreadNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThreadNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThreadStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetThreadStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThreadStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentlyCrawledUrl">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentlyCrawledUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentlyCrawledUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveLogReports">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveLogReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveLogReportsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchResultsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentFromBlobFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blockBlobReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContentFromBlobFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContentFromBlobFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" nillable="true" type="s:int" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUrlToQueueSoapIn">
    <wsdl:part name="parameters" element="tns:AddUrlToQueue" />
  </wsdl:message>
  <wsdl:message name="AddUrlToQueueSoapOut">
    <wsdl:part name="parameters" element="tns:AddUrlToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="AddLogToQueueSoapIn">
    <wsdl:part name="parameters" element="tns:AddLogToQueue" />
  </wsdl:message>
  <wsdl:message name="AddLogToQueueSoapOut">
    <wsdl:part name="parameters" element="tns:AddLogToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMessageFromQueueSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMessageFromQueue" />
  </wsdl:message>
  <wsdl:message name="RetrieveMessageFromQueueSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMessageFromQueueResponse" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueSoapIn">
    <wsdl:part name="parameters" element="tns:CountMessagesInQueue" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueSoapOut">
    <wsdl:part name="parameters" element="tns:CountMessagesInQueueResponse" />
  </wsdl:message>
  <wsdl:message name="AddHTMLDataEntityToTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddHTMLDataEntityToTable" />
  </wsdl:message>
  <wsdl:message name="AddHTMLDataEntityToTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddHTMLDataEntityToTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntityCount" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntityCountResponse" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountSoapIn">
    <wsdl:part name="parameters" element="tns:IncrementPopularityCount" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountSoapOut">
    <wsdl:part name="parameters" element="tns:IncrementPopularityCountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMachineCountersValueSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMachineCountersValue" />
  </wsdl:message>
  <wsdl:message name="UpdateMachineCountersValueSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMachineCountersValueResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCurrentlyCrawledUrlValue" />
  </wsdl:message>
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCurrentlyCrawledUrlValueResponse" />
  </wsdl:message>
  <wsdl:message name="IncrementNumberOfCrawledUrlsSoapIn">
    <wsdl:part name="parameters" element="tns:IncrementNumberOfCrawledUrls" />
  </wsdl:message>
  <wsdl:message name="IncrementNumberOfCrawledUrlsSoapOut">
    <wsdl:part name="parameters" element="tns:IncrementNumberOfCrawledUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateThreadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateThreadStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateThreadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateThreadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBlobFileSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBlobFile" />
  </wsdl:message>
  <wsdl:message name="CreateBlobFileSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBlobFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllMessagesFromQueueSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllMessagesFromQueue" />
  </wsdl:message>
  <wsdl:message name="DeleteAllMessagesFromQueueSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllMessagesFromQueueResponse" />
  </wsdl:message>
  <wsdl:message name="ResetAllNumberOfUrlsSoapIn">
    <wsdl:part name="parameters" element="tns:ResetAllNumberOfUrls" />
  </wsdl:message>
  <wsdl:message name="ResetAllNumberOfUrlsSoapOut">
    <wsdl:part name="parameters" element="tns:ResetAllNumberOfUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobContainerSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBlobContainer" />
  </wsdl:message>
  <wsdl:message name="DeleteBlobContainerSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBlobContainerResponse" />
  </wsdl:message>
  <wsdl:message name="RecreateBlobContainerSoapIn">
    <wsdl:part name="parameters" element="tns:RecreateBlobContainer" />
  </wsdl:message>
  <wsdl:message name="RecreateBlobContainerSoapOut">
    <wsdl:part name="parameters" element="tns:RecreateBlobContainerResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTableSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTable" />
  </wsdl:message>
  <wsdl:message name="DeleteTableSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTableResponse" />
  </wsdl:message>
  <wsdl:message name="AddControlCommandToQueueSoapIn">
    <wsdl:part name="parameters" element="tns:AddControlCommandToQueue" />
  </wsdl:message>
  <wsdl:message name="AddControlCommandToQueueSoapOut">
    <wsdl:part name="parameters" element="tns:AddControlCommandToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMachineCountersSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMachineCounters" />
  </wsdl:message>
  <wsdl:message name="RetrieveMachineCountersSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMachineCountersResponse" />
  </wsdl:message>
  <wsdl:message name="CountUrlInQueuesSoapIn">
    <wsdl:part name="parameters" element="tns:CountUrlInQueues" />
  </wsdl:message>
  <wsdl:message name="CountUrlInQueuesSoapOut">
    <wsdl:part name="parameters" element="tns:CountUrlInQueuesResponse" />
  </wsdl:message>
  <wsdl:message name="CountCrawledUrlsSoapIn">
    <wsdl:part name="parameters" element="tns:CountCrawledUrls" />
  </wsdl:message>
  <wsdl:message name="CountCrawledUrlsSoapOut">
    <wsdl:part name="parameters" element="tns:CountCrawledUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="CountEntitiesInHTMLDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:CountEntitiesInHTMLDataTable" />
  </wsdl:message>
  <wsdl:message name="CountEntitiesInHTMLDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:CountEntitiesInHTMLDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetThreadNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetThreadName" />
  </wsdl:message>
  <wsdl:message name="GetThreadNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetThreadNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetThreadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetThreadStatus" />
  </wsdl:message>
  <wsdl:message name="GetThreadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetThreadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentlyCrawledUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentlyCrawledUrl" />
  </wsdl:message>
  <wsdl:message name="GetCurrentlyCrawledUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentlyCrawledUrlResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveLogReportsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveLogReports" />
  </wsdl:message>
  <wsdl:message name="RetrieveLogReportsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveLogReportsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSearchResults" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSearchResultsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetContentFromBlobFile" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetContentFromBlobFileResponse" />
  </wsdl:message>
  <wsdl:message name="AddUrlToQueueHttpGetIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUrlToQueueHttpGetOut" />
  <wsdl:message name="AddLogToQueueHttpGetIn">
    <wsdl:part name="log" type="s:string" />
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLogToQueueHttpGetOut" />
  <wsdl:message name="RetrieveMessageFromQueueHttpGetIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveMessageFromQueueHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueHttpGetIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountHttpGetIn">
    <wsdl:part name="PropertyName" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountHttpGetIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountHttpGetOut" />
  <wsdl:message name="UpdateMachineCountersValueHttpGetIn">
    <wsdl:part name="values" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UpdateMachineCountersValueHttpGetOut" />
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueHttpGetIn">
    <wsdl:part name="threadName" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueHttpGetOut" />
  <wsdl:message name="IncrementNumberOfCrawledUrlsHttpGetIn">
    <wsdl:part name="rowKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IncrementNumberOfCrawledUrlsHttpGetOut" />
  <wsdl:message name="UpdateThreadStatusHttpGetIn">
    <wsdl:part name="rowKey" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateThreadStatusHttpGetOut" />
  <wsdl:message name="CreateBlobFileHttpGetIn">
    <wsdl:part name="blobFileName" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateBlobFileHttpGetOut" />
  <wsdl:message name="DeleteAllMessagesFromQueueHttpGetIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteAllMessagesFromQueueHttpGetOut" />
  <wsdl:message name="ResetAllNumberOfUrlsHttpGetIn" />
  <wsdl:message name="ResetAllNumberOfUrlsHttpGetOut" />
  <wsdl:message name="DeleteBlobContainerHttpGetIn" />
  <wsdl:message name="DeleteBlobContainerHttpGetOut" />
  <wsdl:message name="RecreateBlobContainerHttpGetIn" />
  <wsdl:message name="RecreateBlobContainerHttpGetOut" />
  <wsdl:message name="DeleteTableHttpGetIn" />
  <wsdl:message name="DeleteTableHttpGetOut" />
  <wsdl:message name="AddControlCommandToQueueHttpGetIn">
    <wsdl:part name="command" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddControlCommandToQueueHttpGetOut" />
  <wsdl:message name="RetrieveMachineCountersHttpGetIn" />
  <wsdl:message name="RetrieveMachineCountersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountUrlInQueuesHttpGetIn" />
  <wsdl:message name="CountUrlInQueuesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountCrawledUrlsHttpGetIn" />
  <wsdl:message name="CountCrawledUrlsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountEntitiesInHTMLDataTableHttpGetIn" />
  <wsdl:message name="CountEntitiesInHTMLDataTableHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetThreadNameHttpGetIn" />
  <wsdl:message name="GetThreadNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetThreadStatusHttpGetIn" />
  <wsdl:message name="GetThreadStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentlyCrawledUrlHttpGetIn" />
  <wsdl:message name="GetCurrentlyCrawledUrlHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveLogReportsHttpGetIn" />
  <wsdl:message name="RetrieveLogReportsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileHttpGetIn">
    <wsdl:part name="blockBlobReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddUrlToQueueHttpPostIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUrlToQueueHttpPostOut" />
  <wsdl:message name="AddLogToQueueHttpPostIn">
    <wsdl:part name="log" type="s:string" />
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddLogToQueueHttpPostOut" />
  <wsdl:message name="RetrieveMessageFromQueueHttpPostIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveMessageFromQueueHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueHttpPostIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CountMessagesInQueueHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountHttpPostIn">
    <wsdl:part name="PropertyName" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEntityCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountHttpPostIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IncrementPopularityCountHttpPostOut" />
  <wsdl:message name="UpdateMachineCountersValueHttpPostIn">
    <wsdl:part name="values" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UpdateMachineCountersValueHttpPostOut" />
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueHttpPostIn">
    <wsdl:part name="threadName" type="s:string" />
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateCurrentlyCrawledUrlValueHttpPostOut" />
  <wsdl:message name="IncrementNumberOfCrawledUrlsHttpPostIn">
    <wsdl:part name="rowKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IncrementNumberOfCrawledUrlsHttpPostOut" />
  <wsdl:message name="UpdateThreadStatusHttpPostIn">
    <wsdl:part name="rowKey" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateThreadStatusHttpPostOut" />
  <wsdl:message name="CreateBlobFileHttpPostIn">
    <wsdl:part name="blobFileName" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateBlobFileHttpPostOut" />
  <wsdl:message name="DeleteAllMessagesFromQueueHttpPostIn">
    <wsdl:part name="queueReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteAllMessagesFromQueueHttpPostOut" />
  <wsdl:message name="ResetAllNumberOfUrlsHttpPostIn" />
  <wsdl:message name="ResetAllNumberOfUrlsHttpPostOut" />
  <wsdl:message name="DeleteBlobContainerHttpPostIn" />
  <wsdl:message name="DeleteBlobContainerHttpPostOut" />
  <wsdl:message name="RecreateBlobContainerHttpPostIn" />
  <wsdl:message name="RecreateBlobContainerHttpPostOut" />
  <wsdl:message name="DeleteTableHttpPostIn" />
  <wsdl:message name="DeleteTableHttpPostOut" />
  <wsdl:message name="AddControlCommandToQueueHttpPostIn">
    <wsdl:part name="command" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddControlCommandToQueueHttpPostOut" />
  <wsdl:message name="RetrieveMachineCountersHttpPostIn" />
  <wsdl:message name="RetrieveMachineCountersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountUrlInQueuesHttpPostIn" />
  <wsdl:message name="CountUrlInQueuesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountCrawledUrlsHttpPostIn" />
  <wsdl:message name="CountCrawledUrlsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CountEntitiesInHTMLDataTableHttpPostIn" />
  <wsdl:message name="CountEntitiesInHTMLDataTableHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetThreadNameHttpPostIn" />
  <wsdl:message name="GetThreadNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetThreadStatusHttpPostIn" />
  <wsdl:message name="GetThreadStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCurrentlyCrawledUrlHttpPostIn" />
  <wsdl:message name="GetCurrentlyCrawledUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveLogReportsHttpPostIn" />
  <wsdl:message name="RetrieveLogReportsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchResultsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileHttpPostIn">
    <wsdl:part name="blockBlobReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetContentFromBlobFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="AzureStorageManagerSoap">
    <wsdl:operation name="AddUrlToQueue">
      <wsdl:input message="tns:AddUrlToQueueSoapIn" />
      <wsdl:output message="tns:AddUrlToQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <wsdl:input message="tns:AddLogToQueueSoapIn" />
      <wsdl:output message="tns:AddLogToQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <wsdl:input message="tns:RetrieveMessageFromQueueSoapIn" />
      <wsdl:output message="tns:RetrieveMessageFromQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <wsdl:input message="tns:CountMessagesInQueueSoapIn" />
      <wsdl:output message="tns:CountMessagesInQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHTMLDataEntityToTable">
      <wsdl:input message="tns:AddHTMLDataEntityToTableSoapIn" />
      <wsdl:output message="tns:AddHTMLDataEntityToTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <wsdl:input message="tns:GetEntityCountSoapIn" />
      <wsdl:output message="tns:GetEntityCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <wsdl:input message="tns:IncrementPopularityCountSoapIn" />
      <wsdl:output message="tns:IncrementPopularityCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <wsdl:input message="tns:UpdateMachineCountersValueSoapIn" />
      <wsdl:output message="tns:UpdateMachineCountersValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <wsdl:input message="tns:UpdateCurrentlyCrawledUrlValueSoapIn" />
      <wsdl:output message="tns:UpdateCurrentlyCrawledUrlValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <wsdl:input message="tns:IncrementNumberOfCrawledUrlsSoapIn" />
      <wsdl:output message="tns:IncrementNumberOfCrawledUrlsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <wsdl:input message="tns:UpdateThreadStatusSoapIn" />
      <wsdl:output message="tns:UpdateThreadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <wsdl:input message="tns:CreateBlobFileSoapIn" />
      <wsdl:output message="tns:CreateBlobFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <wsdl:input message="tns:DeleteAllMessagesFromQueueSoapIn" />
      <wsdl:output message="tns:DeleteAllMessagesFromQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <wsdl:input message="tns:ResetAllNumberOfUrlsSoapIn" />
      <wsdl:output message="tns:ResetAllNumberOfUrlsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <wsdl:input message="tns:DeleteBlobContainerSoapIn" />
      <wsdl:output message="tns:DeleteBlobContainerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <wsdl:input message="tns:RecreateBlobContainerSoapIn" />
      <wsdl:output message="tns:RecreateBlobContainerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <wsdl:input message="tns:DeleteTableSoapIn" />
      <wsdl:output message="tns:DeleteTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <wsdl:input message="tns:AddControlCommandToQueueSoapIn" />
      <wsdl:output message="tns:AddControlCommandToQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <wsdl:input message="tns:RetrieveMachineCountersSoapIn" />
      <wsdl:output message="tns:RetrieveMachineCountersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <wsdl:input message="tns:CountUrlInQueuesSoapIn" />
      <wsdl:output message="tns:CountUrlInQueuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <wsdl:input message="tns:CountCrawledUrlsSoapIn" />
      <wsdl:output message="tns:CountCrawledUrlsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <wsdl:input message="tns:CountEntitiesInHTMLDataTableSoapIn" />
      <wsdl:output message="tns:CountEntitiesInHTMLDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <wsdl:input message="tns:GetThreadNameSoapIn" />
      <wsdl:output message="tns:GetThreadNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <wsdl:input message="tns:GetThreadStatusSoapIn" />
      <wsdl:output message="tns:GetThreadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <wsdl:input message="tns:GetCurrentlyCrawledUrlSoapIn" />
      <wsdl:output message="tns:GetCurrentlyCrawledUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <wsdl:input message="tns:RetrieveLogReportsSoapIn" />
      <wsdl:output message="tns:RetrieveLogReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <wsdl:input message="tns:RetrieveSearchResultsSoapIn" />
      <wsdl:output message="tns:RetrieveSearchResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <wsdl:input message="tns:GetContentFromBlobFileSoapIn" />
      <wsdl:output message="tns:GetContentFromBlobFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AzureStorageManagerHttpGet">
    <wsdl:operation name="AddUrlToQueue">
      <wsdl:input message="tns:AddUrlToQueueHttpGetIn" />
      <wsdl:output message="tns:AddUrlToQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <wsdl:input message="tns:AddLogToQueueHttpGetIn" />
      <wsdl:output message="tns:AddLogToQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <wsdl:input message="tns:RetrieveMessageFromQueueHttpGetIn" />
      <wsdl:output message="tns:RetrieveMessageFromQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <wsdl:input message="tns:CountMessagesInQueueHttpGetIn" />
      <wsdl:output message="tns:CountMessagesInQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <wsdl:input message="tns:GetEntityCountHttpGetIn" />
      <wsdl:output message="tns:GetEntityCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <wsdl:input message="tns:IncrementPopularityCountHttpGetIn" />
      <wsdl:output message="tns:IncrementPopularityCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <wsdl:input message="tns:UpdateMachineCountersValueHttpGetIn" />
      <wsdl:output message="tns:UpdateMachineCountersValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <wsdl:input message="tns:UpdateCurrentlyCrawledUrlValueHttpGetIn" />
      <wsdl:output message="tns:UpdateCurrentlyCrawledUrlValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <wsdl:input message="tns:IncrementNumberOfCrawledUrlsHttpGetIn" />
      <wsdl:output message="tns:IncrementNumberOfCrawledUrlsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <wsdl:input message="tns:UpdateThreadStatusHttpGetIn" />
      <wsdl:output message="tns:UpdateThreadStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <wsdl:input message="tns:CreateBlobFileHttpGetIn" />
      <wsdl:output message="tns:CreateBlobFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <wsdl:input message="tns:DeleteAllMessagesFromQueueHttpGetIn" />
      <wsdl:output message="tns:DeleteAllMessagesFromQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <wsdl:input message="tns:ResetAllNumberOfUrlsHttpGetIn" />
      <wsdl:output message="tns:ResetAllNumberOfUrlsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <wsdl:input message="tns:DeleteBlobContainerHttpGetIn" />
      <wsdl:output message="tns:DeleteBlobContainerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <wsdl:input message="tns:RecreateBlobContainerHttpGetIn" />
      <wsdl:output message="tns:RecreateBlobContainerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <wsdl:input message="tns:DeleteTableHttpGetIn" />
      <wsdl:output message="tns:DeleteTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <wsdl:input message="tns:AddControlCommandToQueueHttpGetIn" />
      <wsdl:output message="tns:AddControlCommandToQueueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <wsdl:input message="tns:RetrieveMachineCountersHttpGetIn" />
      <wsdl:output message="tns:RetrieveMachineCountersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <wsdl:input message="tns:CountUrlInQueuesHttpGetIn" />
      <wsdl:output message="tns:CountUrlInQueuesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <wsdl:input message="tns:CountCrawledUrlsHttpGetIn" />
      <wsdl:output message="tns:CountCrawledUrlsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <wsdl:input message="tns:CountEntitiesInHTMLDataTableHttpGetIn" />
      <wsdl:output message="tns:CountEntitiesInHTMLDataTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <wsdl:input message="tns:GetThreadNameHttpGetIn" />
      <wsdl:output message="tns:GetThreadNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <wsdl:input message="tns:GetThreadStatusHttpGetIn" />
      <wsdl:output message="tns:GetThreadStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <wsdl:input message="tns:GetCurrentlyCrawledUrlHttpGetIn" />
      <wsdl:output message="tns:GetCurrentlyCrawledUrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <wsdl:input message="tns:RetrieveLogReportsHttpGetIn" />
      <wsdl:output message="tns:RetrieveLogReportsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <wsdl:input message="tns:RetrieveSearchResultsHttpGetIn" />
      <wsdl:output message="tns:RetrieveSearchResultsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <wsdl:input message="tns:GetContentFromBlobFileHttpGetIn" />
      <wsdl:output message="tns:GetContentFromBlobFileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AzureStorageManagerHttpPost">
    <wsdl:operation name="AddUrlToQueue">
      <wsdl:input message="tns:AddUrlToQueueHttpPostIn" />
      <wsdl:output message="tns:AddUrlToQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <wsdl:input message="tns:AddLogToQueueHttpPostIn" />
      <wsdl:output message="tns:AddLogToQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <wsdl:input message="tns:RetrieveMessageFromQueueHttpPostIn" />
      <wsdl:output message="tns:RetrieveMessageFromQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <wsdl:input message="tns:CountMessagesInQueueHttpPostIn" />
      <wsdl:output message="tns:CountMessagesInQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <wsdl:input message="tns:GetEntityCountHttpPostIn" />
      <wsdl:output message="tns:GetEntityCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <wsdl:input message="tns:IncrementPopularityCountHttpPostIn" />
      <wsdl:output message="tns:IncrementPopularityCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <wsdl:input message="tns:UpdateMachineCountersValueHttpPostIn" />
      <wsdl:output message="tns:UpdateMachineCountersValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <wsdl:input message="tns:UpdateCurrentlyCrawledUrlValueHttpPostIn" />
      <wsdl:output message="tns:UpdateCurrentlyCrawledUrlValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <wsdl:input message="tns:IncrementNumberOfCrawledUrlsHttpPostIn" />
      <wsdl:output message="tns:IncrementNumberOfCrawledUrlsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <wsdl:input message="tns:UpdateThreadStatusHttpPostIn" />
      <wsdl:output message="tns:UpdateThreadStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <wsdl:input message="tns:CreateBlobFileHttpPostIn" />
      <wsdl:output message="tns:CreateBlobFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <wsdl:input message="tns:DeleteAllMessagesFromQueueHttpPostIn" />
      <wsdl:output message="tns:DeleteAllMessagesFromQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <wsdl:input message="tns:ResetAllNumberOfUrlsHttpPostIn" />
      <wsdl:output message="tns:ResetAllNumberOfUrlsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <wsdl:input message="tns:DeleteBlobContainerHttpPostIn" />
      <wsdl:output message="tns:DeleteBlobContainerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <wsdl:input message="tns:RecreateBlobContainerHttpPostIn" />
      <wsdl:output message="tns:RecreateBlobContainerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <wsdl:input message="tns:DeleteTableHttpPostIn" />
      <wsdl:output message="tns:DeleteTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <wsdl:input message="tns:AddControlCommandToQueueHttpPostIn" />
      <wsdl:output message="tns:AddControlCommandToQueueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <wsdl:input message="tns:RetrieveMachineCountersHttpPostIn" />
      <wsdl:output message="tns:RetrieveMachineCountersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <wsdl:input message="tns:CountUrlInQueuesHttpPostIn" />
      <wsdl:output message="tns:CountUrlInQueuesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <wsdl:input message="tns:CountCrawledUrlsHttpPostIn" />
      <wsdl:output message="tns:CountCrawledUrlsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <wsdl:input message="tns:CountEntitiesInHTMLDataTableHttpPostIn" />
      <wsdl:output message="tns:CountEntitiesInHTMLDataTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <wsdl:input message="tns:GetThreadNameHttpPostIn" />
      <wsdl:output message="tns:GetThreadNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <wsdl:input message="tns:GetThreadStatusHttpPostIn" />
      <wsdl:output message="tns:GetThreadStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <wsdl:input message="tns:GetCurrentlyCrawledUrlHttpPostIn" />
      <wsdl:output message="tns:GetCurrentlyCrawledUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <wsdl:input message="tns:RetrieveLogReportsHttpPostIn" />
      <wsdl:output message="tns:RetrieveLogReportsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <wsdl:input message="tns:RetrieveSearchResultsHttpPostIn" />
      <wsdl:output message="tns:RetrieveSearchResultsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <wsdl:input message="tns:GetContentFromBlobFileHttpPostIn" />
      <wsdl:output message="tns:GetContentFromBlobFileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AzureStorageManagerSoap" type="tns:AzureStorageManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUrlToQueue">
      <soap:operation soapAction="http://tempuri.org/AddUrlToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <soap:operation soapAction="http://tempuri.org/AddLogToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <soap:operation soapAction="http://tempuri.org/RetrieveMessageFromQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <soap:operation soapAction="http://tempuri.org/CountMessagesInQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHTMLDataEntityToTable">
      <soap:operation soapAction="http://tempuri.org/AddHTMLDataEntityToTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <soap:operation soapAction="http://tempuri.org/GetEntityCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <soap:operation soapAction="http://tempuri.org/IncrementPopularityCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <soap:operation soapAction="http://tempuri.org/UpdateMachineCountersValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <soap:operation soapAction="http://tempuri.org/UpdateCurrentlyCrawledUrlValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <soap:operation soapAction="http://tempuri.org/IncrementNumberOfCrawledUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateThreadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <soap:operation soapAction="http://tempuri.org/CreateBlobFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <soap:operation soapAction="http://tempuri.org/DeleteAllMessagesFromQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <soap:operation soapAction="http://tempuri.org/ResetAllNumberOfUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <soap:operation soapAction="http://tempuri.org/DeleteBlobContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <soap:operation soapAction="http://tempuri.org/RecreateBlobContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <soap:operation soapAction="http://tempuri.org/DeleteTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <soap:operation soapAction="http://tempuri.org/AddControlCommandToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <soap:operation soapAction="http://tempuri.org/RetrieveMachineCounters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <soap:operation soapAction="http://tempuri.org/CountUrlInQueues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <soap:operation soapAction="http://tempuri.org/CountCrawledUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <soap:operation soapAction="http://tempuri.org/CountEntitiesInHTMLDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <soap:operation soapAction="http://tempuri.org/GetThreadName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <soap:operation soapAction="http://tempuri.org/GetThreadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <soap:operation soapAction="http://tempuri.org/GetCurrentlyCrawledUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <soap:operation soapAction="http://tempuri.org/RetrieveLogReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <soap:operation soapAction="http://tempuri.org/RetrieveSearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <soap:operation soapAction="http://tempuri.org/GetContentFromBlobFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AzureStorageManagerSoap12" type="tns:AzureStorageManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUrlToQueue">
      <soap12:operation soapAction="http://tempuri.org/AddUrlToQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <soap12:operation soapAction="http://tempuri.org/AddLogToQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <soap12:operation soapAction="http://tempuri.org/RetrieveMessageFromQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <soap12:operation soapAction="http://tempuri.org/CountMessagesInQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHTMLDataEntityToTable">
      <soap12:operation soapAction="http://tempuri.org/AddHTMLDataEntityToTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <soap12:operation soapAction="http://tempuri.org/GetEntityCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <soap12:operation soapAction="http://tempuri.org/IncrementPopularityCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <soap12:operation soapAction="http://tempuri.org/UpdateMachineCountersValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <soap12:operation soapAction="http://tempuri.org/UpdateCurrentlyCrawledUrlValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <soap12:operation soapAction="http://tempuri.org/IncrementNumberOfCrawledUrls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateThreadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <soap12:operation soapAction="http://tempuri.org/CreateBlobFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <soap12:operation soapAction="http://tempuri.org/DeleteAllMessagesFromQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <soap12:operation soapAction="http://tempuri.org/ResetAllNumberOfUrls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <soap12:operation soapAction="http://tempuri.org/DeleteBlobContainer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <soap12:operation soapAction="http://tempuri.org/RecreateBlobContainer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <soap12:operation soapAction="http://tempuri.org/DeleteTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <soap12:operation soapAction="http://tempuri.org/AddControlCommandToQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <soap12:operation soapAction="http://tempuri.org/RetrieveMachineCounters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <soap12:operation soapAction="http://tempuri.org/CountUrlInQueues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <soap12:operation soapAction="http://tempuri.org/CountCrawledUrls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <soap12:operation soapAction="http://tempuri.org/CountEntitiesInHTMLDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <soap12:operation soapAction="http://tempuri.org/GetThreadName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <soap12:operation soapAction="http://tempuri.org/GetThreadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentlyCrawledUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <soap12:operation soapAction="http://tempuri.org/RetrieveLogReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <soap12:operation soapAction="http://tempuri.org/RetrieveSearchResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <soap12:operation soapAction="http://tempuri.org/GetContentFromBlobFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AzureStorageManagerHttpGet" type="tns:AzureStorageManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddUrlToQueue">
      <http:operation location="/AddUrlToQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <http:operation location="/AddLogToQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <http:operation location="/RetrieveMessageFromQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <http:operation location="/CountMessagesInQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <http:operation location="/GetEntityCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <http:operation location="/IncrementPopularityCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <http:operation location="/UpdateMachineCountersValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <http:operation location="/UpdateCurrentlyCrawledUrlValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <http:operation location="/IncrementNumberOfCrawledUrls" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <http:operation location="/UpdateThreadStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <http:operation location="/CreateBlobFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <http:operation location="/DeleteAllMessagesFromQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <http:operation location="/ResetAllNumberOfUrls" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <http:operation location="/DeleteBlobContainer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <http:operation location="/RecreateBlobContainer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <http:operation location="/DeleteTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <http:operation location="/AddControlCommandToQueue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <http:operation location="/RetrieveMachineCounters" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <http:operation location="/CountUrlInQueues" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <http:operation location="/CountCrawledUrls" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <http:operation location="/CountEntitiesInHTMLDataTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <http:operation location="/GetThreadName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <http:operation location="/GetThreadStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <http:operation location="/GetCurrentlyCrawledUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <http:operation location="/RetrieveLogReports" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <http:operation location="/RetrieveSearchResults" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <http:operation location="/GetContentFromBlobFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AzureStorageManagerHttpPost" type="tns:AzureStorageManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddUrlToQueue">
      <http:operation location="/AddUrlToQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddLogToQueue">
      <http:operation location="/AddLogToQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMessageFromQueue">
      <http:operation location="/RetrieveMessageFromQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountMessagesInQueue">
      <http:operation location="/CountMessagesInQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityCount">
      <http:operation location="/GetEntityCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementPopularityCount">
      <http:operation location="/IncrementPopularityCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachineCountersValue">
      <http:operation location="/UpdateMachineCountersValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateCurrentlyCrawledUrlValue">
      <http:operation location="/UpdateCurrentlyCrawledUrlValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="IncrementNumberOfCrawledUrls">
      <http:operation location="/IncrementNumberOfCrawledUrls" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateThreadStatus">
      <http:operation location="/UpdateThreadStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CreateBlobFile">
      <http:operation location="/CreateBlobFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMessagesFromQueue">
      <http:operation location="/DeleteAllMessagesFromQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ResetAllNumberOfUrls">
      <http:operation location="/ResetAllNumberOfUrls" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlobContainer">
      <http:operation location="/DeleteBlobContainer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RecreateBlobContainer">
      <http:operation location="/RecreateBlobContainer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <http:operation location="/DeleteTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddControlCommandToQueue">
      <http:operation location="/AddControlCommandToQueue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMachineCounters">
      <http:operation location="/RetrieveMachineCounters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUrlInQueues">
      <http:operation location="/CountUrlInQueues" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountCrawledUrls">
      <http:operation location="/CountCrawledUrls" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountEntitiesInHTMLDataTable">
      <http:operation location="/CountEntitiesInHTMLDataTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadName">
      <http:operation location="/GetThreadName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreadStatus">
      <http:operation location="/GetThreadStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentlyCrawledUrl">
      <http:operation location="/GetCurrentlyCrawledUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveLogReports">
      <http:operation location="/RetrieveLogReports" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchResults">
      <http:operation location="/RetrieveSearchResults" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentFromBlobFile">
      <http:operation location="/GetContentFromBlobFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AzureStorageManager">
    <wsdl:port name="AzureStorageManagerSoap" binding="tns:AzureStorageManagerSoap">
      <soap:address location="http://localhost:56267/AzureStorageManager.asmx" />
    </wsdl:port>
    <wsdl:port name="AzureStorageManagerSoap12" binding="tns:AzureStorageManagerSoap12">
      <soap12:address location="http://localhost:56267/AzureStorageManager.asmx" />
    </wsdl:port>
    <wsdl:port name="AzureStorageManagerHttpGet" binding="tns:AzureStorageManagerHttpGet">
      <http:address location="http://localhost:56267/AzureStorageManager.asmx" />
    </wsdl:port>
    <wsdl:port name="AzureStorageManagerHttpPost" binding="tns:AzureStorageManagerHttpPost">
      <http:address location="http://localhost:56267/AzureStorageManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>